<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina potrero | Emiliano Sorato</title>

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- custom css -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="icon" href="../../img/icon.png" type="image/png">

  </head>

  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo1">
        <img src="../../img/logo1.png" alt="Logo" class="logo-img">
      </a>

      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="../../../index.html#inicio" class="active">INICIO</a>
        <a href="../../../index.html#nosotros">NOSOTROS</a>
        <a href="../../../index.html#servicios">SERVICIOS</a>
        <a href="../../../index.html#contacto">CONTACTO</a>
      </nav>
    </header>


    <section class="separador_dis" >
      <h2 class="heading">DISEÑO</h2>
    </section>

    <section class="diseño">
      <div class="diseño-content">
        <h4>--- HACEMOS DISEÑOS DE PRODUCTOS 3D ---</h4>
        <br>
        <h3>¿Qué se realiza en la etapa de Diseño?</h3>
        <p class="contentp"> Se definen todos los puntos claves como la estética, viabilidad y planeamiento de estrategias de producto</p>


        <div class="descripcion2-container">
          <div class="descripcion2-box">
            <i class='bx bx-analyse'></i>
            <h3>Análisis del producto</h3>
            <p>Analizamos el mercado, las competencias y los proveedores, para definir los conceptos a
              diseñar. Decidimos las características del producto a diseñar.
            </p>
          </div>
  
          <div class="descripcion2-box">
            <i class='bx bx-devices' ></i>
            <h3>Propuestas del producto
            </h3>
            <p>En dicha fase se realiza la presentación de las propuestas generadas de diseño, dando la oportunidad de una revisión en conjunto para definir cambios antes de su desarrollo.</p>
          </div>
  
          <div class="descripcion2-box" >
            <i class='bx bxs-like' ></i>
            <h3>Validación de conceptos
            </h3>
            <p>Generamos los informes aproximados del producto a desarrollar, teniendo en cuenta las propiedades físicas, materiales y costos para pasar a la etapa 2.</p>
          </div>
          <a href="https://wa.me/5492604264934?text=Hola,%20me%20gustaría%20solicitar%20un%20diseño%20de%20inmediato."
          class="btnsolicitar">Solicitar Diseño de inmediato
          </a>
        </div>
      </div>
    </section>

    












    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; Emiliano Sorato, Potrero Digital 2024</p>
      </div>

      <div class="social-media">
        <a href="https://wa.me/5492604264934?text=Hola,%20me%20gustaría%20saber%20mas%20de%20su%20servicio."><i class='bx bxl-whatsapp'></i> </a>
        <a href="https://www.instagram.com/emisorato" target="_blank" ><i class='bx bxl-instagram' ></i> </a>
        <a href="https://www.linkedin.com/in/emiliano-sorato-866849269/" target="_blank"><i class='bx bxl-linkedin' ></i> </a>
      </div>




    </footer>



    
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!-- custom js -->
    <script src="../../js/script.js"></script>






  </body>
</html>
