<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina potrero | Emiliano Sorato</title>

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- custom css -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="icon" href="../../img/icon.png" type="image/png">

  </head>

  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo1">
        <img src="../../img/logo1.png" alt="Logo" class="logo-img">
      </a>

      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="../../../index.html#inicio" class="active">INICIO</a>
        <a href="../../../index.html#nosotros">NOSOTROS</a>
        <a href="../../../index.html#servicios">SERVICIOS</a>
        <a href="../../../index.html#contacto">CONTACTO</a>
      </nav>
    </header>


    <section class="separador_maq" >
      <h2 class="heading">MAQUETAS DE ESTUDIO EN 3D</h2>
    </section>

    <section class="diseño">
      <div class="diseño-content">
        <h4>--- HACEMOS MAQUETAS DE ESTUDIO ---</h4>
        <br>
        <h3>¿Qué se realiza en la etapa de Creación de Maquetas de Estudio?</h3>
        <p class="contentp">En esta etapa, construimos maquetas detalladas que permiten visualizar y evaluar proyectos antes de su ejecución, proporcionando una representación física precisa de las ideas.
          <br><br> Ideal para carreras de arquitectura, ingeniería o diseño, pueden lograrse maquetas de alta calidad de una manera simple y partiendo de los software de modelado habituales.
        </p>
        
        <div class="descripcion2-container">
          <div class="descripcion2-box">
            <i class='bx bx-building-house'></i>
            <h3>Diseño de la maqueta</h3>
            <p>Desarrollamos el diseño de la maqueta basándonos en planos y especificaciones técnicas, asegurando que cada detalle refleje con precisión el proyecto final.</p>
          </div>
    
          <div class="descripcion2-box">
            <i class='bx bx-layer'></i>
            <h3>Construcción de la maqueta</h3>
            <p>Utilizamos materiales de alta calidad y tecnología 3D para construir maquetas que son tanto visualmente impactantes como estructuralmente precisas.</p>
          </div>
    
          <div class="descripcion2-box">
            <i class='bx bx-zoom-in'></i>
            <h3>Revisión y ajuste</h3>
            <p>Realizamos una revisión detallada de la maqueta para asegurarnos de que cumple con todas las especificaciones y, si es necesario, hacemos ajustes para perfeccionarla.</p>
          </div>
          <a href="https://wa.me/5492604264934?text=Hola,%20me%20gustaría%20solicitar%20una%20maqueta%20de%20estudio%20de%20inmediato."
          class="btnsolicitar">Solicitar Maqueta de inmediato
          </a>
        </div>
      </div>
    </section>
    

    












    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; Emiliano Sorato, Potrero Digital 2024</p>
      </div>

      <div class="social-media">
        <a href="https://wa.me/5492604264934?text=Hola,%20me%20gustaría%20saber%20mas%20de%20su%20servicio."><i class='bx bxl-whatsapp'></i> </a>
        <a href="https://www.instagram.com/emisorato" target="_blank" ><i class='bx bxl-instagram' ></i> </a>
        <a href="https://www.linkedin.com/in/emiliano-sorato-866849269/" target="_blank"><i class='bx bxl-linkedin' ></i> </a>
      </div>

    </footer>



    
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!-- custom js -->
    <script src="../../js/script.js"></script>






  </body>
</html>
