<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina potrero | Emiliano Sorato</title>

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- custom css -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="icon" href="../../img/icon.png" type="image/png">

  </head>

  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo1">
        <img src="../../img/logo1.png" alt="Logo" class="logo-img">
      </a>

      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="../../../index.html#inicio" class="active">INICIO</a>
        <a href="../../../index.html#nosotros">NOSOTROS</a>
        <a href="../../../index.html#servicios">SERVICIOS</a>
        <a href="../../../index.html#contacto">CONTACTO</a>
      </nav>
    </header>


    <section class="separador_mol" >
      <h2 class="heading">MOLDES Y MATRICES EN 3D</h2>
    </section>
    <section class="diseño">
      <div class="diseño-content">
        <h4>--- HACEMOS MOLDES Y MATRICES DE CALIDAD---</h4>
        <br>
        <h3>¿Qué se realiza en la etapa de Creación de Moldes y Matrices?</h3>
        <p class="contentp">En esta etapa, diseñamos y fabricamos moldes y matrices personalizados para procesos de producción, garantizando precisión y calidad en cada pieza creada.</p>
    
        <div class="descripcion2-container">
          <div class="descripcion2-box">
            <i class='bx bx-shape-square'></i>
            <h3>Diseño del molde o matriz</h3>
            <p>Analizamos los requerimientos del producto final y diseñamos moldes y matrices que aseguren la reproducción exacta y eficiente de cada pieza.</p>
          </div>
    
          <div class="descripcion2-box">
            <i class='bx bx-printer'></i>
            <h3>Fabricación del molde o matriz</h3>
            <p>Utilizamos tecnología avanzada, incluyendo impresión 3D y mecanizado de precisión, para crear moldes y matrices que cumplan con los más altos estándares de calidad.</p>
          </div>
    
          <div class="descripcion2-box">
            <i class='bx bx-test-tube'></i>
            <h3>Pruebas y ajuste</h3>
            <p>Realizamos pruebas exhaustivas de los moldes y matrices para garantizar su correcto funcionamiento y, si es necesario, hacemos ajustes para optimizar su rendimiento.</p>
          </div>
          <a href="https://wa.me/5492604264934?text=Hola,%20me%20gustaría%20solicitar%20un%20molde%20o%20matriz%20de%20inmediato."
          class="btnsolicitar">Solicitar Molde o Matriz de inmediato
          </a>
        </div>
      </div>
    </section>
    
    












    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; Emiliano Sorato, Potrero Digital 2024</p>
      </div>

      <div class="social-media">
        <a href="https://wa.me/5492604264934?text=Hola,%20me%20gustaría%20saber%20mas%20de%20su%20servicio."><i class='bx bxl-whatsapp'></i> </a>
        <a href="https://www.instagram.com/emisorato" target="_blank" ><i class='bx bxl-instagram' ></i> </a>
        <a href="https://www.linkedin.com/in/emiliano-sorato-866849269/" target="_blank"><i class='bx bxl-linkedin' ></i> </a>
      </div>

    </footer>



    
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!-- custom js -->
    <script src="../../js/script.js"></script>






  </body>
</html>
