<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina potrero | Emiliano Sorato</title>

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- custom css -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="icon" href="../../img/icon.png" type="image/png">

  </head>

  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo1">
        <img src="../../img/logo1.png" alt="Logo" class="logo-img">
      </a>

      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="../../../index.html#inicio" class="active">INICIO</a>
        <a href="../../../index.html#nosotros">NOSOTROS</a>
        <a href="../../../index.html#servicios">SERVICIOS</a>
        <a href="../../../index.html#contacto">CONTACTO</a>
      </nav>
    </header>


    <section class="separador_prot" >
      <h2 class="heading">PROTOTIPADOS</h2>
    </section>

    <section class="diseño">
      <div class="diseño-content">
        <h4>--- HACEMOS PROTOTIPADOS EN 3D ---</h4>
        <br>
        <h3>¿Qué se realiza en la etapa de Prototipado?</h3>
        <p class="contentp">En esta etapa se materializan las ideas y conceptos desarrollados, permitiendo la evaluación física del producto antes de su producción final.</p>
    
        <div class="descripcion2-container">
          <div class="descripcion2-box">
            <i class='bx bx-cube'></i>
            <h3>Creación del prototipo</h3>
            <p>Utilizamos tecnologías de impresión 3D para crear prototipos que reflejan las especificaciones del diseño, lo que permite visualizar y tocar el producto.</p>
          </div>
    
          <div class="descripcion2-box">
            <i class='bx bx-check-shield'></i>
            <h3>Pruebas y ajustes</h3>
            <p>Realizamos pruebas de funcionalidad y ajustes necesarios para garantizar que el prototipo cumpla con todos los requisitos técnicos y de calidad.</p>
          </div>
    
          <div class="descripcion2-box">
            <i class='bx bx-cog'></i>
            <h3>Optimización del prototipo</h3>
            <p>Refinamos el prototipo basado en los resultados de las pruebas, asegurando que esté listo para la producción o para presentar a inversores y clientes.</p>
          </div>
          <a href="https://wa.me/5492604264934?text=Hola,%20me%20gustaría%20solicitar%20un%20prototipado%20en%203D%20de%20inmediato."
          class="btnsolicitar">Solicitar Prototipado de inmediato
          </a>
        </div>
      </div>
    </section>
    

    












    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; Emiliano Sorato, Potrero Digital 2024</p>
      </div>

      <div class="social-media">
        <a href="https://wa.me/5492604264934?text=Hola,%20me%20gustaría%20saber%20mas%20de%20su%20servicio."><i class='bx bxl-whatsapp'></i> </a>
        <a href="https://www.instagram.com/emisorato" target="_blank" ><i class='bx bxl-instagram' ></i> </a>
        <a href="https://www.linkedin.com/in/emiliano-sorato-866849269/" target="_blank"><i class='bx bxl-linkedin' ></i> </a>
      </div>

  
    </footer>



    
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!-- custom js -->
    <script src="../../js/script.js"></script>






  </body>
</html>
